{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>{% block title %} {% endblock %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">	
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- fevicon -->
    <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets --> 
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

</head>
<body>
	<!--header section start -->
	<div class="header_section">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="logo"><a href="{%  url 'index' %}"><img src="{% static 'images/dark-logo.png' %}"></a></div>
				</div>
				<div class="col-sm-9">
					<div class="menu-area">
						<nav class="navbar navbar-expand-lg ">
							<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<i class="fa fa-bars"></i>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav mr-auto">
								    {% url 'index' as url %}
								   <li class='nav-item {% if request.path == url %}active{% endif %}'>
									<a class="nav-link" href="{{ url }}">Home<span class="sr-only">(current)</span></a> </li>
									{% url 'types-pattern' as url %}
								   <li class="nav-item {% if request.path == url %}active{% endif %}">
									<a class="nav-link" href="{{ url }}">Types of Dark Pattern</a></li>
									{% url 'tweets-dark' as url %}
								   <li class="nav-item {% if request.path == url %}active{% endif %}">
									<a class="nav-link" href="{{ url }}">Tweets of Dark Pattern</a></li>
									{% url 'notice-pattern' as url %}
								   <li class="nav-item {% if request.path == url %}active{% endif %}" >
									<a class="nav-link" href="{{ url }}">Notice a Pattern?</a></li>
									{% url 'our-extension' as url %}
								   <li class="nav-item {% if request.path == url %}active{% endif %}" >
									<a class="nav-link" href="{{ url }}">Our Extension</a></li>
									{% url 'about-us' as url %}
								   <li class="nav-item {% if request.path == url %}active{% endif %}" >
									<a class="nav-link" href="{{ url }}">About Us</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>

    <div class="row">
      <div class="banner_section"> <!-- class name : layout_padding -->
      
    </div>
    </div>

		</div>
       
        
		</div>
	
{% block content %}
        
{% endblock %}

    
	<!--footer section start -->
	<div class="footer_section layout_padding">
		<div class="container">
			
		    <div class="copyright_section">
		    	<p class="copyright_text">Copyright 2021 All Right Reserved By.<a href="#"> Dark Pattern Team</p>
		    </div>
		</div>
	</div>
	<!--footer section end -->

      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
      <!-- javascript --> 
      <script src="{% static 'js/owl.carousel.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
      
         $(document).ready(function(){
             $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
             });
             console.log(jQuery.fancybox.version);
         });
         </script>	


         <script>
      // This example adds a marker to indicate the position of Bondi Beach in Sydney,
      // Australia.
      function initMap() {
          if(document.getElementById('map')){
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 11,
              center: {lat: 40.645037, lng: -73.880224},
              });
    
            var image = 'images/location_point.png';
              var beachMarker = new google.maps.Marker({
                 position: {lat: 40.645037, lng: -73.880224},
                 map: map,
                 icon: image
              });
          }
        }
        </script>
        <!-- google map js -->
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
        <!-- end google map js -->
</body>
</html>