{% extends 'views/layouts/app.html' %}
{% block title %}About Us{% endblock %}
{% block content %}
{% load static %}
<div class="blog_section layout_padding"> 
		<div class="about_section_2 ">
		  <div class="container">
			<div class="row">
			  <div class="col-sm-12">
				<div class="classified_text">About <span style="color: #c6610f;">Us</span></div>
			  </div>  
			</div>
			<div class="row front">
			  <!--<div class="col-md-2">
				<div class="about_img"><img src="images/img-1.png"></div>
			  </div>-->
			  <div class="col-md-12">
				<h1 class="fron_text"> Who runs the site?</h1>
				<p class="using_text">Dark Pattern searching team working on finding out ‘dark patterns’ in websites. Recently, this team has started to provide expert witness services for Dark Patterns. If there’s something specific you’d like to know about dark patterns, they welcomes enquiries - you can find out more on this website.</p>
				
			  </div>
			</div>
			
			
			
			<div class="row front">
			  <!--<div class="col-md-2">
				<div class="about_img"><img src="images/img-1.png"></div>
			  </div>-->
			  <div class="col-md-12">
				<h1 class="fron_text">Do you want to participate in the initiative?</h1>
				<p class="using_text">Use social sites to spread the word about Dark Patterns. It's a really effective way to put pressure onto companies to stop using Dark Patterns.</p>
				<ul class="tweet-list using_text">
					<li>Retweet, quote and favourite other people's tweets about Dark Patterns.</li>
					<li>@mention the offending brands and tell them what you think about their practices.<br></li>
					<li>When you see a Dark Pattern, take screenshots and tweet it.</li>
					<li>If you've got an example that doesn't fit into a tweet, you can use a platform like <a href="https://medium.com/" target="_blank">Medium</a>, then tweet it.</li>
					<li>Mention @darkpatterns or use the hashtag #darkpattern.</li>
				</ul>
			  </div>
			  
			</div>
		  </div>
		</div>
	  </div> 

{% endblock %}