{% extends 'views/layouts/app.html' %}
{% block title %}Urgency Timing{% endblock %}
{% block content %}
{% load static %}
<div class="about_section layout_padding single-page">
    	<div class="container">
    		<div class="row">
    			
    			<div class="col-md-8">
    				<div class="about_taital">
    					<div class="about_text"><span style="color: #c6610f;">Fake Urgency Timing</span></div>
    					<p class="dolor_text">There is nothing that kills eCommerce conversion rates faster than customer hesitation. Anytime a customer thinks “maybe later”, you open 
    					the window to a sale-killing distraction - an offer from a competitor, a phone notification, or even a change of heart.</p>
    					<p class="dolor_text">Some websites have been called out multiple times for using Urgency Timing untruthfully to pressure their customers into buying. 
    					This is a dark pattern. It exploits the cognitive bias that people will respond to things that are scarce and thus manipulates the consumer.</p>
    					<div class="read_more single-page-read_more"><a href="{% url 'types-pattern' %}">Go Back</a></div>
    				</div>
    			</div>
				<div class="col-md-4">
    				<div class="tablet"><img src="{% static 'images/urgency-timing.png' %}"></div>
    			</div>
    		</div>
    	</div>
    </div>


{% endblock %}